<main class="container">
  <div class="header">
    <h1>Quotes</h1>
    <%= link_to "New quote",
                new_quote_path,
                data: { turbo_frame: "second_frame" },
                class: "btn btn--primary" %>
  </div>

  <%= render @quotes %>

</main>
