version: '3'
services:
  postgres:
    image: ankane/pgvector:latest
    restart: always
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: real_estate_ai_dev
    volumes:
      - ./data:/var/lib/postgresql/data
