<main class="container">
  <h1>Assesor AI</h1>
  <p>We help you define and create schedules for your clients.</p>

  <% if user_signed_in? %>
    <%= link_to "View Lead", quotes_path, class: "btn btn--dark" %>
  <% else %>
    <%= link_to "Sign in", new_user_session_path, class: "btn btn--dark" %>
  <% end %>
</main>
