<main class="container">
  <div class="header">
    <h1>Real Estate</h1>
    <%= link_to "New Real Estate",
                new_product_path,
                class: "btn btn--primary" %>
  </div>

  <%= render @products %>

</main>
