aside.flex-1.p-6.overflow-y-auto
  / Navigation Links
  nav.space-y-2.flex.flex-col
    ul.space-y-1
      li
        = link_to '#', class: "flex items-center gap-3 px-3 py-2 rounded-lg text-gray-400 hover:bg-gray-800 hover:text-white transition group"
          i.lucide-settings.w-5.h-5
          span General
      
      li
        = link_to orders_path, class: "flex items-center gap-3 px-3 py-2 rounded-lg #{current_page?(orders_path) ? 'bg-gray-800 text-white' : 'text-gray-400 hover:bg-gray-800 hover:text-white transition'}"
          i.lucide-shopping-bag.w-5.h-5
          span Order
      
      li
        = link_to products_path, class: "flex items-center gap-3 px-3 py-2 rounded-lg #{current_page?(products_path) ? 'bg-gray-800 text-white' : 'text-gray-400 hover:bg-gray-800 hover:text-white transition'}"
          i.lucide-box.w-5.h-5
          span Productos
      
      li
        = link_to categories_path, class: "flex items-center gap-3 px-3 py-2 rounded-lg #{current_page?(categories_path) ? 'bg-gray-800 text-white' : 'text-gray-400 hover:bg-gray-800 hover:text-white transition'}"
          i.lucide-layers.w-5.h-5
          span Categorías
      
      li
        = link_to option_types_path, class: "flex items-center gap-3 px-3 py-2 rounded-lg #{current_page?(option_types_path) ? 'bg-gray-800 text-white' : 'text-gray-400 hover:bg-gray-800 hover:text-white transition'}"
          i.lucide-list-checks.w-5.h-5
          span Tipo de opciones

      li
        = link_to page_layouts_path, class: "flex items-center gap-3 px-3 py-2 rounded-lg #{current_page?(page_layouts_path) ? 'bg-gray-800 text-white' : 'text-gray-400 hover:bg-gray-800 hover:text-white transition'}"
          i.lucide-layout.w-5.h-5
          span Paginas
